<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments :: page_head('Error - Book shop Admin')"/>
</head>
<body>


    <body class="container-fluid" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <div th:replace="navigation :: menu"></div>

    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

    <a href="index.html" th:href="@{/}">Back to Home Page</a>
    </body>

    <div th:replace="fragments :: footer"></div>

</div>
</body>
</html>