<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
            <img height="auto" th:src="@{/images/logo.png}" width="50"/>
        </a>
        <button class="navbar-toggler" data-target="#topNavbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav nav-pills">


                <li class="nav-item" sec:authorize="hasAnyAuthority('Admin', 'User')">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/genres' ? 'active':''}" th:href="@{/genres}">Genres</a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}" th:href="@{/users}">Users</a>
                </li>


            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">


                    <div sec:authorize="isAuthenticated()">
                        <form method="post" name="logoutForm" th:action="@{/logout}">
                            <input class="nav-link" style="background: none; border: none;" type="submit"
                                   value="Logout"/>
                        </form>
                    </div>

                </li>
            </ul>
        </div>

    </nav>
</div>
</body>
</html>